/* 
ORGANIZAÇÃO
.seletor {
    [alinhamento dos elementos]
    [fonte e propriedades de texto]
    [plano de fundo]
    [tamanho]
    [bordas]
    [sombras]
    [espaçamentos]
    [posicionamento]
} */

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box !important;
    outline: none !important;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

:root{
    --primaria: rgb(255, 152, 0); /* # */
    --primaria-claro: rgb(255, 211, 111); /* # */
    --primaria-escura: rgb(255, 118, 0); /* # */
    --secundaria: rgb(243, 245, 247);

    --cor-fonte-clara: white;
    --cor-fonte-escura: rgb(20, 20, 20);
    --cor-fonte-destaque: rgb(255, 118, 0);

    --cor-fonte-btn-clara: white;
    --cor-fonte-btn-escura: rgb(20, 20, 20);

    --invisivel: rgba(255, 119, 0, 0);
}

::selection{
    color: white;
    background-color: rgb(13, 97, 207);
}

/* Universais */

body{
    scroll-behavior: smooth;
    width: 100% !important;
    position: relative;

    margin: 0;
}

section{
    height: 100vh;
    max-height: 860px;

    padding: 0 !important;

    position: relative;
}

.row{    
    width: 100% !important;
    max-width: 1600px !important;
    height: 100%;

    margin: 0 auto !important;
}

.destaque{
    color: var(--cor-fonte-destaque) !important;
}

.onda-bot{
    height: 150px;
    width: 100%;
    overflow: hidden;

    z-index: -1;
}
.onda-top{
    height: 150px;
    width: 100%;
    overflow: hidden;

    z-index: -1;
}

.owl-carousel{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item{
    background-color: blue;
    height: 120px !important;
    width: 120px !important;

    margin: 10px;
}

/* Footer */

.footer{
    background-color: black;

    height: auto;
}

.footer > .container-fluid{
    padding: 0 !important;
}

.footer .row{
    padding: 40px 0 !important;
}

.footer .footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

    .footer-logo > img{
        width: 100%;
    }

.footer-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .footer-conteudo > .bloco-contatos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        width: 100%;

        padding: 30px !important;
    }

        .bloco-contatos > .contato-1{
            display: flex;
            flex-direction: row;

            width: 40%;

            padding: 10px;
        }
        
            .contato-1 > .contato-1-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;

                margin: 0 15px;
            }

                .contato-1-icon > img{
                    max-height: 40px;
                }

            .contato-1 > .contato-1-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }

                .contato-1-content > h3{
                    color: white;
                    font-size: 1rem;
                    text-transform: uppercase;

                    margin: 0;
                }

                .contato-1-content > p{
                    color: white;
                    font-size: 1rem;
                    margin: 0;
                }

        .bloco-contatos > .contato-2{
            display: flex;
            flex-direction: row;
            
            width: 40%;

            padding: 10px;
        }
        
            .contato-2 > .contato-2-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15%;

                margin: 0 15px;
            }

                .contato-2-icon > img{
                    max-width: 40px; 
                }

            .contato-2 > .contato-2-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }

                .contato-2-content > h3{
                    color: white;
                    font-size: 1rem;
                    text-transform: uppercase;

                    margin: 0;
                }

                .contato-2-content > p{
                    color: white;
                    font-size: 1rem;
                    margin: 0;
                }

        
        .bloco-contatos > .contato-3{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

            .contato-3 > .contato-3-btn{     
                color: white;
                font-size: 1rem;
                font-weight: bold;
                
                background: green;

                width: 200px;

                border: none;
                border-radius: 8px;

                padding: 10px 20px;

                cursor: pointer;
            }

            .contato-3 > .contato-3-btn:hover{
                background-color: rgb(12, 197, 12);
            }

    .footer-conteudo > .bloco-sociais{
        display: flex;
        flex-direction: row;
        align-items: center;    
        justify-content: center;

        width: 100%;

        padding: 15px !important;
    }

        .bloco-sociais > .sociais-btn{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 60px;
            height: 60px;

            border: 2px solid white;
            border-radius: 50%;

            margin: 0 15px;

            cursor: pointer;

            transition: .2s ease-out;
        }

        .bloco-sociais > .sociais-btn:hover{
            border: 2px solid var(--primaria-escura);
        }

        .bloco-sociais > .sociais-btn:hover a{
            color: var(--primaria-escura) !important;
        }

            .sociais-btn > a{
                color: white !important;
                font-size: 1.6rem !important;
                
                transition: .2s ease-out;
            }

.row.copyright{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: unset !important;
    height: 80px !important;

    background-color: rgb(20, 20, 20);

    padding: 0 !important;
}

    .row.copyright > h2{
        color: white;
        font-size: 1rem;

        margin: 0;
    }

/* ================ FORM ================ */

.section-form{
    height: auto;
    max-height: unset !important;
}

.section-form .form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

    .form-box > h2{
        font-size: 2.2rem;
        font-weight: bold;

        margin: 0;
    }

    .form-box > p{
        font-size: 1.2rem;
    }

    .form-box form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;

        width: 60% !important;
    }

        .form-box form > label{
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
        }

        .form-box form > input{
            width: 100%;
            height: 45px;

            border: 1px solid rgb(150, 149, 149);
            border-radius: 4px;

            padding: 5px 15px;
            margin-bottom: 15px;

            transition: .2s;
        }
        .form-box form > input:focus{
            background-color: rgb(253, 246, 224);
            border: 1px solid rgb(223, 102, 3);
        }

        .form-box form > button{
            color: white;
            font-size: 1.2rem;
            
            background-color: var(--primaria-escura);

            width: 100%;
            height: 45px;

            border: 1px solid var(--primaria-escura);
            border-radius: 4px;

            padding: 5px 15px;
            margin-bottom: 15px;

            transition: .4s ease-out;

            cursor: pointer;
        }
        .form-box form > button:hover{
            color: black;
            background-color: rgba(44, 44, 44, 0)
        }
    
        .form-box > .form-labels{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }   

            .form-labels > .label{
                display: flex;
                align-items: center;
                justify-content: center;

                width: 210px;
                height: 60px;

                border-right: 1px solid rgb(207, 207, 207);
            }

                .label > img{
                    width: 80%;
                }

.section-form .depo-box{
    display: flex;
    align-items: center;
    justify-content: center;

    height: auto !important;
    max-height: unset;

    border-right: 2px solid var(--primaria);
}
    
    .depo-box > .owl-carousel{
        display: flex;
        align-items: center !important;
        justify-content: center !important;

        width: 100%;
        height: 480px;
    }

    button.owl-dot > span{
        background-color: unset  !important;
        border: 1px solid grey;
    }
    button.owl-dot.active > span{
        background-color: grey  !important;
        border: 1px solid grey;
        transition: .5s !important;
    }

    .depo-box .depo-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 60%;
        max-width: 380px;

        border-radius: 12px;

        box-shadow: rgba(0, 0, 0, 0.3) 0 0 25px 0;

        margin: 25px auto;
        padding: 20px 15px 80px;

        position: relative;
    }

        .depo-card > .depo-card-icon{
            background-color: rgb(182, 182, 182);

            width: 80px;
            height: 80px;

            border-radius: 50%;
        }

        .depo-card > h3{
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;

            margin: 15px 0;
        }

        .depo-card > p{
            color: rgb(145, 145, 145);
            font-size: 1rem;
            text-align: center;

            width: 80%;
        }

        .onda-card{
            width: 100%;
            height: 80px;
            overflow: hidden;

            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;

            position: absolute;
            bottom: 0;
            z-index: 0;
        }

/* ================ SMARTPHONES ================ */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    /* Footer */
    
    .footer .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer .copyright > h2{
        font-size: .8rem !important;

        text-align: center;
    }

    .footer-logo > img{
        width: 50%;

        margin: 50px 0;
    }

    .footer-conteudo{
        padding: 0 5px;
    }

    .footer-conteudo > .bloco-contatos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 0 !important;
    }
    
        .bloco-contatos > .contato-1{
            width: 100% !important;
            padding: 10px 0;
        }

            .contato-1 > .contato-1-icon{
                width: 30px !important;
                margin: 0 15px;
            }

                .contato-1-content > p{
                    font-size: .8rem !important;
                }

        .bloco-contatos > .contato-2{
            width: 100% !important;
            padding: 10px 0;
        }

            .contato-2 > .contato-2-icon{
                width: 30px !important;
                margin: 0 15px;
            }

                .contato-2-content > p{
                    font-size: .8rem !important;
                }

    .footer-conteudo > .bloco-sociais{
        padding: 0 !important;
    }

        .bloco-sociais > .sociais-btn{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 50px;
            height: 50px;

            border-radius: 50%;

            margin: 0 5px;

            cursor: pointer;

            transition: .2s ease-out;
        }

    /* ================= FORM SMARTPHONES ================= */

    .form-box > h2, p{
        text-align: center !important;
    }

    .form-box > form{
        width: 100% !important;
    }

    .form-labels{
        display: flex !important;
        flex-direction: column !important;
    }

    /* ================= DEPO SMARTPHONES ================= */

    .depo-box{
        padding: 0 !important;
    }

    .depo-card{
        width: 100% !important;
        max-height: 380px;

        margin: 15px 0 !important;
    }

}

/* ================ TABLETS ================ */

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px){
    /* Footer */
    
    .footer .row{
        display: flex !important;
        flex-flow: row;
        flex-direction: row !important;

        padding: 10px 0 !important;
    }

    .footer .copyright > h2{
        font-size: .8rem !important;

        text-align: center;
    }

    .footer-logo{
        width: 20%;
    }

    .footer-logo > img{
        margin: 50px 0;
    }

    .footer-conteudo{
        padding: 0 5px;
    }

    .footer-conteudo > .bloco-contatos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        padding: 0 !important;
    }
    
        .bloco-contatos > .contato-1{
            width: 100% !important;
            max-width: 270px !important;
            padding: 10px 0;
        }

            .contato-1 > .contato-1-icon{
                width: 30px !important;
                margin: 0 5px;
            }

                .contato-1-content > p{
                    font-size: .8rem !important;

                    overflow-wrap: break-word !important;
                }

        .bloco-contatos > .contato-2{
            width: 100% !important;
            max-width: 200px !important;
            padding: 10px 0;
        }

            .contato-2 > .contato-2-icon{
                width: 30px !important;
                margin: 0 15px;
            }

                .contato-2-content{
                    width: 100%;
                }

                .contato-2-content > h3{
                    font-size: 1rem !important;

                    width: 100% !important;
                }

                .contato-2-content > p{
                    font-size: .8rem !important;
                }

        .bloco-contatos > .contato-3{
            padding: 0 10px;
            width: 160px !important;
        }

            .contato-3 > .contato-3-btn{
                width: 100%;

                font-size: 1rem;
                font-weight: normal;

                padding: 5px;
            }

    .footer-conteudo > .bloco-sociais{
        padding: 0 !important;
    }

        .bloco-sociais > .sociais-btn{
            display: flex;
            align-items: center;
            justify-content: center;

            width: 50px;
            height: 50px;

            border-radius: 50%;

            margin: 0 5px;

            cursor: pointer;

            transition: .2s ease-out;
        }

}

/* ================ TINY SCREENS ================ */

@media only screen and (min-device-width : 1024px) and (max-device-width : 1340px){

}

/* ================ LARGE SCREENS ================ */

@media only screen  and (min-width : 1824px){

}